@model CRM1._2.Models.ClientTable

<h2>Zapis</h2>
@using (Html.BeginForm("save", "Client", FormMethod.Post, new { id = "popupForm" }))
{
    if (Model != null && Model.ClientID > 0)
    {
        @Html.HiddenFor(a => a.ClientID)
    }

    <div class="form-group">
        <label>Nip</label>
        @Html.TextBoxFor(a => a.Nip, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.Nip)
    </div>

    <div class="form-group">
        <label>Nazwa firmy</label>
        @Html.TextBoxFor(a => a.CompanyName, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.CompanyName)
    </div>

    <div class="form-group">
        <label>Adres firmy</label>
        @Html.TextBoxFor(a => a.Address, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.Address)
    </div>

    <div class="form-group">
        <label>Telefon</label>
        @Html.TextBoxFor(a => a.Phone, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.Phone)
    </div>

    <div class="form-group">
        <label>Adres e-mail</label>
        @Html.TextBoxFor(a => a.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.Email)
    </div> 

    <div>
        <input class="btn btn-success" type="submit" value="Zapisz" />
    </div>
}
