@model CRM1._2.Models.RequestTable

<h2>Usuwanie</h2>
@using (Html.BeginForm("delete", "Request", FormMethod.Post, new { id = "popupForm" }))
{
    @Html.HiddenFor(a => a.RequestID)
    <div class="form-group" style="float:left; padding-right:5%">
        <label>Numer zgłoszenia</label>
        <br>@Model.RequestID
    </div>

    <div class="form-group" style="float:left; padding-right:5%">
        <label>Data zgłoszenia</label>
        <br>@Model.RequestDate
    </div>

    <div class="form-group" style="float:left; padding-right:5%">
        <label>Tytuł</label>
        <br>@Model.Title
    </div>

    @*<div class="form-group" style="float:left; padding-right:5%">
        <label>Status</label>
        <br>@Model.Status
    </div>

    <div class="form-group" style="float:none; padding-right:5%">
        <label>Rodzaj</label>
        <br>@Model.Type
    </div>*@

    <div class="form-group" style="float:none; padding-right:5%">
        <label>Opis</label>
        <br>@Model.Description
    </div>

    <div>
        <input class="btn btn-danger" type="submit" value="Usuń" />
    </div>
    <p>
        @Html.ActionLink("Lista zgloszen", "/Index")
    </p>
}
