@model List<CRM1._2.Models.RequestTable>

@{
    var grid = new WebGrid(canPage: true, rowsPerPage: 10);
    grid.Bind(source: Model, rowCount: ViewBag.TotalRows, autoSortAndPage: false);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Panel użytkownikow</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h2>Lista zgloszen</h2>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">Wyszukaj</a>
                </div>
                <div class="collapse navbar-collapse">
                    @using (Html.BeginForm("index", "Request", FormMethod.Get, new { @class = "navbar-form navbar-left" }))
                    {
                        <div class="form-group">
                            <input type="text" name="search" value="@ViewBag.search" class="form-control" placeholder="szukaj.." />
                        </div>
                        <button type="submit" value="Search" class="btn btn-success">Szukaj</button>
                        <a class="popup btn btn-primary" href="/Request/save/" style="margin-bottom:20px; margin-top:20px;">Dodaj nowe zgloszenie</a>
                    }
                </div>
            </div>
        </nav>
        <div>
            @grid.Table(
         tableStyle: "table table-responsive table-bordered",
         columns: grid.Columns(
             grid.Column(columnName: "RequestID", header: "Numer zgloszenia"),
             grid.Column(columnName: "RequestDate", header: "Data zgloszenia", format: item => ((item.RequestDate == null) ? "" : item.RequestDate.ToString("MM/dd/yyyy"))),
             grid.Column(columnName: "Title", header: "Tytul"),
             grid.Column(columnName: "ClientID", header: "Klient"),
             grid.Column(columnName: "TypeID", header: "Rodzaj"),
             grid.Column(columnName: "Description", header: "Opis"),
             grid.Column(header: "Edycja", format: item => new HtmlString(Html.ActionLink((string)item.RequestID.ToString("Edytuj"),"save", new { @id = item.RequestID }).ToString())),
             grid.Column(header: "Usuwanie", format: item => new HtmlString(Html.ActionLink((string)item.RequestID.ToString("Usun"), "delete", new { @id = item.RequestID }).ToString()))

                )
            )

            <div class="row">
                <div class="col-sm-6">
                    @grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-small pagination-right")
                </div>
            </div>

            @Html.Hidden("dir", grid.SortDirection)
            @Html.Hidden("col", grid.SortColumn)

        </div>
    </div>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/myScipts.js"></script>

    <script>
        $(function () {
            try {
                var dir = $('#dir').val();
                var col = $('#col').val();
                var header = $("th a[href*=" + col + "]");
                if (dir == "Ascending") {
                    header.text(header.text() + "  ▲")
                }
                if (dir == "Descending") {
                    header.text(header.text() + "  ▼");
                }

            } catch (e) {

            }
        })
    </script>
</body>
</html>
<div>
    @Html.ActionLink("Strona główna", "Index", "Home")
</div>

<script type="text/javascript">
    $(function () {
        $('#RequestDate').datepicker({
            dateFormat: 'mm-dd-yy'
        })
    })
</script>

