@using Microsoft.AspNet.Identity


@if(User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Witaj " + User.Identity.GetUserName() + "!", "LoggedIn", "Account", routeValues: null, htmlAttributes: new { title = "Account" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj <span class="glyphicon glyphicon-log-out"></span> 
                </a>
            </li>
        </ul>
    }
    @*<ul class="glyphicon glyphicon-home glyphicon-resize-full"></ul>*@
    <ul class="nav navbar-nav navbar-left">
    @Html.ActionLink(" CRM", "Index", "Home", new { area = "" }, new { @class = "btn btn-primary glyphicon glyphicon-home " })
    @Html.ActionLink("Panel zgłoszeń", "Index", "Request", new { area = "" }, new { @class = "btn navbar-btn btn-lg" })
    @Html.ActionLink("Klienci", "Index", "Client", new { area = "" }, new { @class = "btn navbar-btn btn-lg" })

    @if (this.User.IsInRole("A"))
    {
         @Html.ActionLink("Użytkownicy", "Index", "Account", new { area = "" }, new { @class = "btn navbar-btn btn-lg" })
         @Html.ActionLink("Statusy", "Index", "Status", new { area = "" }, new { @class = "btn navbar-btn btn-lg" })
    }
    </ul>

    @*<ul class="nav navbar-nav navbar-right">
        @Html.ActionLink("Użytkownicy", "Index", "Account", new { area = "" }, new { @class = "btn btn-default" })
        @Html.ActionLink("Wyloguj", "LogOff", "Account", new { area = "" }, new { @class = "btn btn-default" })
    </ul>*@

    @*<ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-text" style="color:black">@("Witaj " + @Session["UserName"]) </span></li>
    </ul>*@
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*@Html.ActionLink("Rejestracja", "Register", "Account", new { area = "" }, new { @class = "btn navbar-btn btn-lg" })*@
        @Html.ActionLink("Zaloguj", "Login", "Account", new { area = "" }, new { @class = "btn navbar-btn btn-lg" })
    </ul>
}


@*<div id="login-header">
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()

                @Html.ActionLink("CRM", "Index", "Home", new { area = "" }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Panel zgłoszeń", "Index", "Request", new { area = "" }, new { @class = "btn btn-default" })
                @Html.ActionLink("Klienci", "Index", "Client", new { area = "" }, new { @class = "btn btn-default" })
                @Html.ActionLink("Użytkownicy", "Index", "Account", new { area = "" }, new { @class = "btn btn-default" })

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                    </li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>
                </ul>
            }
        }
        else
        {
            <ul class="nav navbar-nav navbar-right">
                @Html.ActionLink("Rejestracja", "Register", "Account", new { area = "" }, new { @class = "btn btn-default" })
                @Html.ActionLink("Zaloguj", "Login", "Account", new { area = "" }, new { @class = "btn btn-default" })
            </ul>
        }
    </div>*@