@model CRM1._2.Models.UserAccount

<h2>Usuwanie</h2>
@using (Html.BeginForm("delete", "Account", FormMethod.Post, new { id = "popupForm" }))
{
    @Html.HiddenFor(a => a.UserID)
    <div class="form-group" style="float:left; padding-right:5%">
        <label>Identyfikator uzytkownika</label>
        <br>@Model.UserID
    </div>

    <div class="form-group" style="float:left; padding-right:5%">
        <label>Imie</label>
        <br>@Model.FirstName
    </div>

    <div class="form-group" style="float:left; padding-right:5%">
        <label>Nazwisko</label>
        <br>@Model.LastName
    </div>

    <div class="form-group" style="float:left; padding-right:5%">
        <label>Email</label>
        <br>@Model.Email
    </div>

    <div class="form-group" style="float:none; padding-right:5%">
        <label>Nazwa uzytkownika</label>
        <br>@Model.UserName
    </div>

    <div class="form-group" style="float:none; padding-right:5%">
        <label>Rola</label>
        <br>@Model.Roles
    </div>

    <div>
        <input class="btn btn-danger" type="submit" value="Usuń" />
    </div>

}

<div>
    @Html.ActionLink("Powrot", "Index", "Account")
</div>
